<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
  </head>

  <body class="header">
    <header class="bg-dark text-white">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-1" href="/"><font color="white">Bookers</font></a>

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="">
                <%= link_to user_path(current_user), class:"btn btn-link" do %>
                <i class="fas fa-home"></i>
                <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to users_path, class:"btn btn-link" do %>
                <i class="fas fa-book-open"></i>
                <span class="glyphicon glyphicon-user" aria-hidden="true"> Users</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to books_path, class:"btn btn-link" do %>
                <i class="fas fa-users"></i>
                <span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do %>
                <i class="fas fa-sign-out-alt"></i>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"> Log out</span>
                <% end %>
              </li>
            <% else %>
              <li class="">
                <%= link_to root_path, class:"btn btn-link" do %>
                <i class="fas fa-home"></i>
                <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to home_about_path, class:"btn btn-link" do %>
                <i class="fas fa-link"></i>
                <span class="glyphicon glyphicon-link" aria-hidden="true"> About</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_registration_path, class:"btn btn-link" do %>
                <i class="fas fa-user-plus"></i>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"> Sign up</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_session_path, class:"btn btn-link" do %>
                <i class="fas fa-sign-in-alt"></i>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"> Log in</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>


        <footer>
          <p class="text-center"> CopyRight Infratop.inc</p>
        </footer>
      </div>
    </div>
  </body>
</html>